{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Bienvenido al Centro Médico Galenos</h2>
    <p>El Centro Médico Galenos, con una rica historia como empresa familiar, ha crecido para convertirse en un referente en la prestación de servicios médicos de calidad. Iniciando nuestra jornada como un espacio dedicado a médicos generales y especialistas, hemos evolucionado para incluir una amplia gama de servicios, como kinesiología, oftalmología y otorrinolaringología, todos ellos en instalaciones especialmente equipadas para cada especialidad.</p>
    <p>Nuestro modelo de negocio se centra en ofrecer la mejor atención posible, funcionando de lunes a viernes de 9:00 a 20:00 horas y los sábados de 9:00 a 14:00 horas. Una parte esencial de nuestro éxito se debe a nuestro dedicado equipo de secretarias, que maneja las solicitudes de citas, organiza la documentación, recauda pagos y asegura que todo funcione sin problemas para médicos y pacientes por igual.</p>
    <p>Gracias al éxito y la confianza depositada en nosotros, hemos ampliado nuestros horizontes, abriendo más centros y especializándonos aún más para cubrir todas las necesidades de nuestros pacientes. En el Centro Médico Galenos, cada visita es un compromiso con su salud y bienestar.</p>
    
    <h3>Testimonios</h3>
    <div class="testimonio">
        <p>"La atención que recibí fue excepcional. ¡Muy recomendado!"</p>
        <footer>- Gabriela Torres</footer>
    </div>
    <div class="testimonio">
        <p>"El personal es amable y profesional. Me sentí muy cuidado durante mi visita."</p>
        <footer>- Roberto Nuñez</footer>
    </div>
    <div class="testimonio">
        <p>"Increíble experiencia desde la recepción hasta la consulta. Los médicos son de primera."</p>
        <footer>- Jessica Álvarez</footer>
    </div>
    <div class="testimonio">
        <p>"Excelente centro médico, con instalaciones modernas y un equipo muy capacitado."</p>
        <footer>- Carlos Mendoza</footer>
    </div>
    <div class="testimonio">
        <p>"Me impresionó la tecnología y el trato humano. Se nota que realmente les importa la salud del paciente."</p>
        <footer>- Elena Ramírez</footer>
    </div>
</div>
{% endblock %}