<!-- centro_medico/templates/centro_medico/vista_general_cancelaciones.html -->
{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>Cancelar Citas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Paciente</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
            <tr>
                <td>{{ cita.nombre_paciente }}</td>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.hora }}</td>
                <td>
                    <!-- Aquí utilizamos el id de la cita para crear la URL de cancelación -->
                    <a href="#" class="btn btn-danger">Cancelar Cita</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay citas programadas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
