{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Médico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    {% include 'centro_medico/navbar_unauthenticated.html' %}
    {% include 'centro_medico/navbar_medico.html' %}
    {% include 'centro_medico/navbar_paciente.html' %}
{% block content %}
<!-- Contenido principal -->
{% endblock %}

<script>
    function updateNavbar() {
        var userType = localStorage.getItem('userType');
        var navbarUnauthenticated = document.getElementById('navbarUnauthenticated');
        var navbarMedico = document.getElementById('navbarMedico');
        var navbarPaciente = document.getElementById('navbarPaciente');

        if (userType === 'medico') {
            navbarUnauthenticated.style.display = 'none';
            navbarMedico.style.display = 'block';
            navbarPaciente.style.display = 'none';
        } else if (userType === 'paciente') {
            navbarUnauthenticated.style.display = 'none';
            navbarMedico.style.display = 'none';
            navbarPaciente.style.display = 'block';
        } else {
            navbarUnauthenticated.style.display = 'block';
            navbarMedico.style.display = 'none';
            navbarPaciente.style.display = 'none';
        }
    }

    document.addEventListener('DOMContentLoaded', updateNavbar);

    function logout() {
        localStorage.removeItem('userType');
        window.location.href = "{% url 'inicio' %}";
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
